* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
     margin: 0;
}
.header {
    padding: 20px;
    text-align: center;
    background: /*linear-gradient(rgb(255, 251, 248),#D7CEC6 ) */linear-gradient(#C04848, #480048) ;
    color:#FFF ; 
    font-size : 50px;
    font-family:'Brush Script MT';
}
.row {  
    display: flex;
    flex-wrap: wrap;
    
}
.side {
    flex: 40%;
    background-color:#B29D89 ;
    color: #FFF;
    padding: 20px;
}

.main {   
    flex: 60%;
    
    padding: 20px;
}

.footer {
    padding: 20px; 
    text-align: center; 
    background: #ddd; 
} 

